<div class="container-fluid" id="search-controls">
  <% if user_signed_in? %>
  <div class="row">
    <%= form_tag studies_path, method: :get, class: "form-inline form-inline" do %>
      <div id="agg-filters" class="col-xs-8 navbar navbar-left">
        <div class="row">
          <div class="col-xs-2">
            <%= select "rating", "rating",
            [["Rating...", nil]], {},
            class: "rating-agg agg",
            data: { agg: 'rating', filter: 'average_rating' } %>
          </div>
          <div class="col-xs-2">
            <%= select "tags", "tags", [["Tag...", nil]], {}, class: "agg text-agg",
                data: { agg: 'tags', filter: 'tags' } %>
          </div>
          <div class="col-xs-2">
            <%= select "status", "status", [["Status...", nil]], {}, class: "agg text-agg",
                data: { agg: 'overall_status', filter: 'overall_status' } %>
          </div>
          <div class="col-xs-2">
            <%= select "study_type", "study_type", [["Study Type...", nil]], {}, class: "agg text-agg",
                data: { agg: 'study_type', filter: 'study_type' } %>
          </div>
          <div class="col-xs-2">
            <%= select "sponsor", "sponsor", [["Sponsor...", nil]], {}, class: "agg text-agg",
                data: { agg: 'sponsors', filter: 'sponsors' } %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2">
            <%= select "facility_name", "facility_name", [["Facility Name...", nil]], {}, class: "agg text-agg",
                data: { agg: 'facility_names', filter: 'facility_names' } %>
          </div>
          <div class="col-xs-2">
            <%= select "facility_state", "facility_state", [["Facility State...", nil]], {}, class: "agg text-agg",
                data: { agg: 'facility_states', filter: 'facility_states' } %>
          </div>
          <div class="col-xs-2">
            <%= select "facility_city", "facility_city", [["Facility City...", nil]], {}, class: "agg text-agg",
                data: { agg: 'facility_cities', filter: 'facility_cities' } %>
          </div>
          <div class="col-xs-2">
            <%= select "start_date", "start_date", [["Start Date...", nil]], {}, class: "agg date-agg",
                data: { agg: 'start_date', filter: 'start_date' } %>
          </div>
          <div class="col-xs-2">
            <%= select "completion_date", "completion_date", [["Completion Date...", nil]], {}, class: "agg date-agg",
                data: { agg: 'completion_date', filter: 'completion_date' } %>
          </div>
        </div>
      </div>
      <div class='col-xs-4 navbar navbar-right text-right' id="search-text-and-button">
        <%= text_field_tag :q, params[:search], class: "form-control", value: @search %>
        <%= submit_tag "Retrieve Studies", name: nil, class: "btn btn-default btn-sm" %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-xs-12" id="agg-filters-selected">

    </div>
  </div>
  <% end %>
</div>
