<script>
$(document).ready(function() {
    $(".tabs-menu a").click(function(event) {
        event.preventDefault();
        $(this).parent().addClass("current");
        $(this).parent().siblings().removeClass("current");
        var tab = $(this).attr("href");
        $(".tab-content").not(tab).css("display", "none");
        $(tab).fadeIn();
    });
});
</script>

<div class='study-title'>
  <h3><%= @study.brief_title %></h3>
</div>

<div>
  <div id="tabs-container">
      <ul class="clinwiki-tabs-menu tabs-menu">
        <li class='current'><a href="#tab-1">Crowd Entered Info</a></li>
        <% @sections.each do |section| %>
          <li><a href="#display_<%= section.downcase.parameterize.underscore %>"><%= section %></a></li>
        <% end %>
      </ul>

     <div class='tab'>
       <div id='tab-1' class='tab-content'>
           <%= render 'annotations/annotation_list' %>
       </div>

      <% @sections.each do |section| %>
          <div id="display_<%= section.downcase.parameterize.underscore %>" class="tab-content">
           <%= render partial: 'studies/display_info_in_tab', locals: {section: section} %>
          </div>
       <% end %>
     </div>
  </div>
</div>
