<div class="container-fluid">

  <div class="col-md-3 bs-docs-sidebar">
    <%= render 'layouts/study_star_rating' %>
    <div>
      <% if @study.reviews.length == 0 %>
        <%= link_to "Write a Review", new_review_path(:nct_id=>params['id']), class: "btn btn-default btn-mini" %>
      <% else %>
        <%= link_to "View/Add Reviews", reviews_path(:nct_id=>params['id']), class: "btn btn-default btn-mini" %>
      <% end %>
    </div>
    <br>
    <%= render 'layouts/study_sidebar' %>
  </div>

  <div class="container col-md-9 well">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @study.brief_title %></dd>
      <br>
      <% if !@study.acronym.blank? %>
        <dt>Acronym</dt>
        <dd><%= @study.acronym %></dd>
        <br>
      <% end %>
      <dt>Brief Summary</dt>
      <dd><%= @study.brief_summary.textblock %></dd>
      <br>
      <dt>Eligibility Criteria</dt>
      <dd><%= @study.eligibility.criteria.textblock %></dd>
    </dl>

    <% if !@study.responsible_party.blank? %>
      <br>
      <div class='table-responsive container-fluid row'>
        <table id="responsiblePartyTable" class='table dataTable data-table table-striped table-condensed table-hover'>
            <thead>
              <tr>
                <th>responsible parties</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td><%= @study.responsible_party.investigator_full_name %></td>
                  <td><%= @study.responsible_party.investigator_title %></td>
                  <td><%= @study.responsible_party.responsible_party_type %></td>
                  <td><%= @study.responsible_party.investigator_affiliation %></td>
                </tr>
            </tbody>
          </table>
        </table>
      </div>
    <% end %>

    <% if !@study.facilities.blank? %>
    <div class='table-responsive container-fluid row'>
      <table id="facilityTable" class='table dataTable data-table table-striped table-condensed table-hover'>
          <thead>
            <tr>
              <th>facilities</th>
            </tr>
          </thead>
          <tbody>
            <% @study.facilities.sort_by {|f| f.name }.each do |f| %>
              <tr>
                <td><%= f.name %></td>
                <td><%= f.city %></td>
                <td><%= f.state %></td>
                <td><%= f.country %></td>
              </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </table>
    </div>
    <% end %>

  </div>
</div>

