<div class="container-fluid">
  <div class="row">

    <dl>
      <dt id='nct_id'><%= @study.nct_id %></dt>
    </dl>
    <div class="col-md-3 sidebar">
      <%= render 'layouts/study_star_rating' %>
      <div>
        <% if @study.reviews.length == 0 %>
          <%= link_to "Write a Review", new_review_path(:nct_id=>params['id']), class: "btn btn-default btn-mini" %>
        <% else %>
          <%= link_to "View/Add Reviews", reviews_path(:nct_id=>params['id']), class: "btn btn-default btn-mini" %>
        <% end %>
      </div>
      <br>
      <%= render 'layouts/study_sidebar' %>
    </div>
    <div class="col-md-9 content">
      <%= render 'study_data' %>
    </div>
  </div>
</div>

