<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div class="container-fluid">
  <div class="row">

    <div class="col-md-3 sidebar">
      <div class='study-title'>
        <h3 id='nct_id'><%= @study.nct_id %></h3>
      </div>
      <%= render 'shared/study_star_rating' %>
      <div>
        <% if @study.reviews.length == 0 %>
          <%= link_to "Write a Review", new_review_path(:nct_id=>params['id']), class: "btn btn-default btn-mini" %>
        <% else %>
          <%= link_to "View/Add Reviews", reviews_path(:nct_id=>params['id']), class: "btn btn-default btn-mini" %>
        <% end %>
      </div>
      <br>
      <%= render 'shared/study_sidebar' %>
    </div>
    <div class="col-md-9 content">
      <%= render 'study_data' %>
    </div>
  </div>
</div>

