<div>
  <div class="col-md-3 span3 bs-docs-sidebar">

    <h4>
      <% if !@study.acronym.blank? %>
        <%= @study.acronym %>
      <% end %>
      <%= @study.brief_title %>
    </h4>

    <div class="star-rating" data-score= <%= @study.average_rating %> ></div>
    <p><%= "#{@study.tags.length} tags" %></p>

    <p>
      <li><i class="fa-li fa fa-check-square"></i> <%= @study.overall_status %></li>
      <li><i class="fa-li fa fa-check-square"></i> <%= @study.study_type %></li>
      <li><i class="fa-li fa fa-check-square"></i> <%= @study.phase %></li>
    </p>

    <% if !@study.prime_address.blank? %>
      <p>
        <%= @study.prime_address %>
      </p>
    <% end %>

    <p>

    <%= link_to "Write a Tag", new_tag_path(:nct_id=>@study.nct_id), class: "btn btn-primary" %>
    <%= link_to 'Return to List', studies_path, class: "btn btn-primary" %>

    <br>
    <br>

    <iframe
      width="230"
      height="230"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBJg0HiO2KtvExTuiWB6rKhmUUsHXFk6dY
        &q=<%= @study.prime_address.parameterize %>&zoom=14">
    </iframe>
  </div>

  <div class="col-md-9">
    <% if @study.tags.blank? %>
      <h3>No tags yet. Be the first to write one!</h3>
    <% else %>
      <table class="table">
        <thead>
          <tr>
            <th class="col-md-3"></th>
            <th class="col-md-9"></th>
          </tr>
        </thead>

        <tbody>
          <% @study.tags.each do |tag| %>
            <tr>
              <td>
                <h4>
                  <%= "#{tag.user.first_name.capitalize} #{tag.user.last_name.capitalize[0]}." %>
                </h4>
                <p><%= tag.created_at.strftime("%-m/%-d/%y") %></p>
              </td>

              <td>
                <% if user_signed_in? %>
                  <td><%= link_to 'Edit', edit_tag_path(tag), data: {:id=>tag.id}, class: "btn btn-link" %></td>
                  <td><%= link_to 'Destroy', tag, method: :delete, data: {confirm: 'Are you sure?',:id=>tag.id}, class: "btn btn-link" %></td>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_tag_path(@study), class: "btn btn-link" %> |
<%= link_to 'Back', studies_path, class: "btn btn-link" %>

