<div class='study-title'>
  <h3><%= @study.brief_title %></h3>
</div>

<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error-explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h4>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="star-rating"></div>
  <div class="form-group">
    <%= f.label :comment %>
  </div>
  <div class="form-group">
    <%= f.text_area :comment, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= hidden_field_tag(:nct_id,@review.nct_id) %>
    <%= f.submit "Save Review", class: "btn btn-primary" %>
    <%= link_to 'Cancel', reviews_path(:nct_id=>params['nct_id']), class: "button cancel" %>
  </div>
<% end %>

<script>
  $('#star-rating').raty({
    path: 'https://s3.amazonaws.com/yelpdemo/stars',
    scoreName: 'review[rating]'
  });
</script>