<div class="container-fluid">

  <div class="col-md-3 bs-docs-sidebar">
    <div class='study-title'>
      <h3 id='nct_id'><%= @study.nct_id %></h3>
    </div>
    <%= render 'shared/study_star_rating' %>
    <%= render 'shared/study_sidebar' %>
    <%= link_to 'Return to Study',study_path(:id=>@study.nct_id), :class => "btn btn-default btn-mini" %>
  </div>
  <div class="col-md-9 bs-docs-sidebar">
    <%= render 'form' %>
  </div>
</div>
