  <div class="row container">
     <div class='col-xs-8'>
       <p><%= link_to "clinwiki", root_path, class: 'clinwiki-header' %></p>
     </div>
     <% if user_signed_in? %>
     <div class="col-xs-4 text-right" id="loggedin-col">
       <div class="dropdown">
         <button class="btn btn-default dropdown-toggle" type="button" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
           Logged in as <%= current_user.full_name %>
           <span class="caret"></span>
         </button>
         <ul class="dropdown-menu" aria-labelledby="userMenu">
           <% if user_signed_in? %>
             <li><%= link_to "Edit Profile", edit_user_registration_path, class: 'link-action' %></li>
             <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'link-action' %></li>
           <% else %>
             <li><%= link_to "Sign up", new_user_registration_path %></li>
             <li><%= link_to "Sign in", new_user_session_path %></li>
           <% end %>
         </ul>
       </div>
     </div>
     <% end %>
  </div>
