<dl>
    <dt><%= @study.nct_id %></dt>
    <br>
    <dd><%= @study.study_type %></dd>
    <dd><%= @study.overall_status %></dd>
    <% if !@study.phase == 'N/A' %>
      <dt>Phase</dt>
    <% end %>
    <dd><%= @study.phase %></dd>
    <br>
    <dt>Started</dt>
    <dd><%= @study.start_month_year %></dd>
    <dt>Completed
    </dt>
      <% if !@study.primary_completion_month_year.blank? %>
        <% if !@study.completion_date_type.blank? %>
          <dd><%= @study.primary_completion_month_year %> (<%= @study.completion_date_type %>)</dd>
        <% else %>
          <dd><%= @study.primary_completion_month_year %></dd>
        <% end %>
      <% else %>
        <dd>not provided</dd>
      <% end %>
      <dt>Enrollment
      </dt>
      <% if !@study.enrollment.blank? %>
        <% if !@study.enrollment_type.blank? %>
          <dd><%= @study.enrollment %> (<%= @study.enrollment_type %>)</dd>
        <% else %>
          <dd><%= @study.enrollment %></dd>
        <% end %>
      <% else %>
        <dd>not provided</dd>
      <% end %>
      <dt>Source</dt>
      <dd><%= @study.source %></dd>
</dl>

  <div class='table-responsive container-fluid row'>
    <table id="sponsorTable" class='table dataTable data-table table-striped table-condensed table-hover'>
        <thead>
          <tr>
            <th>sponsor</th>
          </tr>
        </thead>
        <tbody>
          <% @study.sponsors.sort_by {|f| f.lead_or_collaborator }.reverse.each do |f| %>
            <tr>
              <td><%= f.name %></td>
              <td><%= f.lead_or_collaborator %></td>
            </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </table>
  </div>

  <br>
  <p>
    <%= link_to 'Return to Study List', studies_path, class: "btn btn-default btn-mini" %>
  </p>

