<script src="/assets/jquery.raty.js" type="text/javascript"></script>
<script>
    $(document).ready(function() {
        $(".star-rating").raty({
           path: '/assets/',
           readOnly: true,
           score: function() {
             return $(this).attr('data-score');
           }
        });
    })
</script>

<dl>
    <br>
    <dt><%= @study.nct_id %></dt>
    <br>
    <dd>
      <div class="star-rating" data-score= <%= @study.average_rating %> ></div>
      <p><%= "#{@study.reviews.length} reviews" %></p>
    </dd>
    <dd><%= @study.study_type %></dd>
    <dd><%= @study.overall_status %></dd>
    <br>
    <dt>Phase</dt>
    <dd><%= @study.phase %></dd>
    <dt>Started</dt>
    <dd><%= @study.start_month_year %></dd>
    <dt>Completed
      <% if !@study.completion_date_type.blank? %>
        (<%= @study.completion_date_type %>)
      <% end %>
    </dt>
      <% if !@study.primary_completion_month_year.blank? %>
        <dd><%= @study.primary_completion_month_year %></dd>
      <% else %>
        <dd>not provided</dd>
      <% end %>
      <dt>Enrollment
        <% if !@study.enrollment_type.blank? %>
          (<%= @study.enrollment_type %>)
        <% end %>
      </dt>
      <% if !@study.enrollment.blank? %>
        <dd><%= @study.enrollment %></dd>
      <% else %>
        <dd>not provided</dd>
      <% end %>
      <dt>Source</dt>
      <dd><%= @study.source %></dd>
</dl>

  <div class='table-responsive container-fluid row'>
    <table id="sponsorTable" class='table dataTable data-table table-striped table-condensed table-hover'>
        <thead>
          <tr>
            <th>sponsor</th>
          </tr>
        </thead>
        <tbody>
          <% @study.sponsors.sort_by {|f| f.lead_or_collaborator }.reverse.each do |f| %>
            <tr>
              <td><%= f.name %></td>
              <td><%= f.lead_or_collaborator %></td>
            </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </table>
  </div>

  <br>
  <p>
    <%= link_to 'Return to Study List', studies_path, class: "btn btn-default btn-mini" %>
  </p>

